@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0A0519;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome {
    color: white;
}

.mode{
    color: white;
    font-size: 60px;
    margin-top: 150px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 100px;
}

.Local  {
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
    border-radius: 40px;
    background: #7cebfc;
    color: black;
    font-weight: 600;
    margin-top: 100px;
    padding: 40px;
}

.Bot  {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
    border-radius: 40px;
    background: #7cebfc;
    color: black;
    font-weight: 600;
    margin-top: 100px;
    padding: 40px;
    width: 250px;
}
