@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0A0519;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    margin-top: 100px;
    font-size: 30px;
    font-style: italic;
    color: white;
    -webkit-text-stroke: 1px black;
    border: 10px solid #7cebfc;
    box-shadow: 0 0 50px rgb(124,235,252);
    padding: 30px 30px 30px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.5s;
}

.sub-header {
  animation: glow-animation 1s infinite alternate;
  animation-delay: 0.5s;
}

.mode{
    color: white;
    font-size: 60px;
    margin-top: 150px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 100px;
}

#Local  {
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
    border-radius: 40px;
    background: #7cebfc;
    color: black;
    font-weight: 600;
    margin-top: 100px;
    padding: 40px;
    opacity: 0;
    animation: slideRight 1.5s ease forwards;
    animation-delay: 1.5s;
}

#Bot  {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
    border-radius: 40px;
    background: #7cebfc;
    color: black;
    font-weight: 600;
    margin-top: 100px;
    padding: 40px;
    width: 250px;
    opacity: 0;
    animation: slideLeft 1.5s ease forwards;
    animation-delay: 1.5s;
}

@keyframes slideBottom {
     0% {
         transform: translateY(-100px);
         opacity:0;
     }
     100% {
         transform: translateY(0px);
         opacity:1;
     }
        }

@keyframes slideLeft {
     0% {
         transform: translateX(300px);
         opacity:0;
     }
     100% {
         transform: translateX(0px);
         opacity:1;
     }
        }

@keyframes slideRight {
     0% {
         transform: translateX(-300px);
         opacity:0;
     }
     100% {
         transform: translateX(0px);
         opacity:1;
     }
        }        

@keyframes glow-animation {
    0% {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #7cebfc, 0 0 20px #7cebfc, 0 0 25px #7cebfc;
    }
    100% {
        text-shadow: 0 0 30px #fff, 0 0 40px #7cebfc, 0 0 50px #7cebfc, 0 0 60px #7cebfc, 0 0 70px #7cebfc;
    }
       }        
